@font-face {
  font-family:nb ;
  src: url(./NBInternationalProBoo.woff2);
}


* {
  margin: 0;
  padding: 0;
  font-family: nb;
}
html{
  scroll-behavior: smooth ;
}

/* just to be sure these are full screen*/

canvas {
  position: absolute;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #060F26;
}

/*nav*/

header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #081a4c;
  color: white;
  height: 96px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

nav ul {
  display: flex;
  align-items: center;
  margin-top: 22px;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  display: flex;
  text-decoration: none;
  color: white;
  margin-right: 40px;
  font-size: 1.1rem;
}

/* main  */

/* s1 */
.s-one{
  display: flex;
  height: 46.8vw;
  width: 100vw;
}

.left{
  position: relative ;
  display: flex;
  height: 30%;
  width: 30%;
}
#element{
  color: aquamarine;
  font-size: 1.5rem;
}
.left a{
  text-decoration: none;
  font-size: 1.2vw;
  padding: 1.1vw 2.1vw;
  background-color: #FF735C;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  position: relative;
  top: 68px;
}



.footer {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 345.6px;
  width: 100%;
  background-color: black;
  color: cornflowerblue;
  font-size: 35px;
  text-align: center;
}
.footer h1{
  font-size: 3.5rem;
  margin-top: 10px;
}
footer ul {
  display: flex;
  gap: 80px;
}
.footer ul li{
  list-style: none;
}


@media (max-width:600px) {

  canvas{
    overflow-x: hidden;
    object-fit: cover;
  }

  .left a{
  font-size: 20px;
  }
  .footer{
    top: 880px;
    align-items: center;

  }
  .footer h1{
    margin-top: 25px;
  }

}
